#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.converter {
	display: flex;
	flex-direction: row;
}

.input-container {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

label {
	color: #000;
	font-size: 20px;
	letter-spacing: 1px;
}

select {
	border: solid 1px lightgrey;
	border-radius: 7px 0 0 7px;
	font-size: 18px;
	letter-spacing: 1px;
	height: 34px;
	margin-top: 3px;
	width: 250px;
	padding-left: 20px;
}

input {
	border: solid 1px lightgrey;
	border-radius: 0 7px 7px 0;
	font-size: 18px;
	letter-spacing: 1px;
	height: 30px;
	margin-top: 3px;
	width: 150px;
	padding-left: 20px;
}

h4 {
	font-size: 20px;
	font-style: italic;
	text-align: left;
}

.exchange-amount {
	background-color: #91fc8f;
	border: solid 1px lightgrey;
	border-radius: 0 7px 7px 0;
	font-size: 18px;
	letter-spacing: 1px;
	height: 32px;
	margin-top: 3px;
	width: 154px;
	padding-left: 20px;
}

p {
	margin: 0;
	padding-top: 2px;
	text-align: left;
}
